<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<title></title>
	<link href='css/bootstrap.css' rel='stylesheet'>
	<link href='css/index.css' rel='stylesheet'>
	<script src='js/index.js'></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src='js/move.js'></script>
	
</head>
<body>
	<div class='header'>
		<nav class="navbar navbar-default m-top">
			<div class="container">
			    <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="#"><img src='images/logo.png'></a>
			    </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav navbar-right">  
				        <li><a href="#">HOME</a></li>
				        <li><a href="#">ABOUT</a></li>
				        <li><a href="#">FEATURES</a></li>
				        <li><a href="#">PORTFOLIO</a></li>
				        <li><a href="#">PORTNERS</a></li>
				        <li><a href="#">TEAM</a></li>
				        <li><a href="#">CONTACT</a></li>     
			      	</ul>
			    </div>
			</div>
		</nav>
	</div>
	<!-- -------------------------------------------------轮播图-->
	<div class='banner floor' >
		<div class='row'>
			<div class='col-xs-12'>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/demo/slider-1.jpg" alt="..." class="img-responsive"> 
                        </div>
                        
                        <div class="item">
                            <img src="images/demo/slider-1.jpg" alt="..." class="img-responsive">   
                        </div>
                        
                        <div class="item">
                            <img src="images/demo/slider-1.jpg" alt="..." class="img-responsive">
                        </div>
                    </div>

                    <!--&lt;!&ndash; Controls &ndash;&gt;-->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
			</div>
		</div>
	</div>
	<!-------------------------------------------------------------主体区域-->
	<div class='main1 floor'>
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	                <h2 class="about-h2">About</h2>
	                <p class="about-line"></p>
	                <p class="about-p">
	                    Nantes is a clean, responsive bootstrap template suitable for agencies, design studios, 
	                    mobile apps or business sites. It uses the best clean SEO practices, and on top of that, 
	                    it’s fast, simple, and easy to modify. <br>
	                    <strong>Nantes Is More Than A Theme, It’s A Powerful Design Tool</strong>
	                </p>
	            </div>
        	</div>
			
			<div class='row'>
				<div class='col-md-3 '>	
					<div class='web'>
						<div class="web-1">
							<div class='pic1 glyphicon glyphicon-briefcase'></div>
							<h3>Web Development</h3>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
						<div class="web-2"><a href="#">read more</a></div>	
					</div>
										
				</div>
				
				<div class='col-md-3 '>	
					<div class='web'>
						<div class="web-1">	
							<div class='pic2 glyphicon glyphicon-picture'></div>
							<h3>Visualisation</h3>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="web-2"><a href="#">read more</a></div>	
					</div>
										
				</div>
				
				<div class='col-md-3 '>	
					<div class='web'>
						<div class="web-1">	
							<div class='pic3 glyphicon glyphicon-camera'></div>
							<h3>Photography</h3>
							<p>Accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
						<div class="web-2"><a href="#">read more</a></div>	
					</div>
										
				</div>
				
				<div class='col-md-3 '>	
					<div class='web'>
						<div class="web-1">	
							<div class='pic4 glyphicon glyphicon-modal-window'></div>
							<h3>UI/UX Design</h3>
							<p> Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p>
						</div>
						<div class="web-2"><a href="#">read more</a></div>	
					</div>
										
				</div>
			</div>
				
		</div>		
	</div>
	<div class='main2 floor'>
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	                <h2 class="about-h2">Nantes Features</h2>
	                <p class="about-line"></p>
	            </div>
        	</div>
        	<div class='row'>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-file'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Fully Responsive Design</h3>
						    <p>INFRA theme looks awesome at any size, be it a Laptop screen, Mobile or Tablet.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-eur'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Advanced Control Panel</h3>
						    <p>You can take full control of your theme with our powerful yet easy-to-use theme options panel from setting to styling.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-th-list'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Custom Page Templates</h3>
						    <p>Our themes come packaged with multiple pages templates including Authors Team, Full Width, and more to enhance your site.</p>
					 	</div>
					</div>
        		</div>
        	</div>
        	<div class='row'>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-upload'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Unlimited Widget Areas</h3>
						    <p>We include just the right amount of useful widget areas and sidebars so you can place your content.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-book'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Custom Widgets</h3>
						    <p>We include our own widgets for Reviews, Social, Advertising and additional custom widgets to enhance your site.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-camera'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">AD Management</h3>
						    <p>You can place various size of banner images in your sidebar and banners to other ad positions with ease.</p>
					 	</div>
					</div>
        		</div>
        	</div>
        	<div class='row'>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-edit'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Icons and Fonts</h3>
						    <p>We include FontAwesome Icons &amp; Hundreds of Google Fonts to Choose from to customize your site.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-move'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Compatible with Latest WordPress</h3>
						    <p>We continuously test our themes so you will know they are always compatible with the latest version of WordPress.</p>
					 	</div>
					</div>
        		</div>
        		<div class="col-md-4">
        			<div class="media">
					  	<div class="media-left media-middle ">
					  		<i class='glyphicon glyphicon-plus-sign'></i>
					  	</div>						
			     	
					  	<div class="media-body">
						    <h3 class="media-heading">Bootstrap Framework</h3>
						    <p>The theme is based on Bootstrap framework. We use default row/col- Bootstrap grid system.</p>
					 	</div>
					</div>
        		</div>
        	</div>
        </div>
    </div>
    <div class='main3 floor'>
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	                <h2 class="about-h2">Portfolio</h2>
	                <p class="about-line"></p>
	                <p class="about-p">
	                    Our portfolio is the best way to show our work, you can see here a big range of our work.
	                     Check them all and you will find what you are looking for.
	                </p>
	            </div>
        	</div>
        	
        	<div class='row'>
        		<div class='col-md-4 ' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-1.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Dean & Letter</h4>
        					<p>Branding, Design</p>
        				</div>
        				
        			</div>
        		</div>
        		<div class='col-md-4 ' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-2.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Startup Framework</h4>
							<p>Branding, Web Design</p>
        				</div>
        				
        			</div>
        		</div>
        		<div class='col-md-4' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-3.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Lamp & Velvet</h4>
							<p>Branding, Web Design</p>
        				</div>
        				
        			</div>
        		</div>
        		
        	</div>
        	<div class='row'>
        		<div class='col-md-4' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-4.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Smart Name</h4>
							<p>Branding, Design</p>
        				</div>
        				
        			</div>
        		</div>
        		<div class='col-md-4' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-5.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Fast People</h4>
							<p>Branding, Web Design</p>
        				</div>
        				
        			</div>
        		</div>
        		<div class='col-md-4' data-toggle="modal" data-target="#myModal">
        			<img src='images/demo/portfolio-6.jpg' class="img-responsive" >
        			<div class='hover-pic'>
        				<div class='hover-pic-1'>
        					<h4>Kites & Stars</h4>
							<p>Branding, Web Design</p>
        				</div>
        				
        			</div>
        		</div>
        		
        	</div>
        	
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  	<div class="modal-dialog" role="document">
				    <div class="modal-content">
				      	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Dean & Letter</h4>
					        
				      	</div>
				      	<div class='tuwen'>
				       		<img src='images/demo/portfolio-1.jpg' class="img-responsive">
				       		<button type="button" class='btn btn-default btn-warning'>Branbing</button>
					        <button type="button" class='btn btn-default btn-warning'>web Ding</button>
					        <p>Our portfolio is the best way to show our work, you can see here a big range of our work.</p>
				      	</div>
				      	<div class="modal-footer">
					        <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>					        
				      	</div>
				    </div>
			  	</div>
			</div>
	 	</div>
    </div>
    <div class='number'>
    	<div class='container'>
    		<div class="row">
    			<div class='col-md-3'>
    				<h3>9</h3>
    				<p>awards</p>
    			</div>
    			<div class='col-md-3'>
    				<h3>127</h3>
    				<p>Clients</p>
    			</div>
    			<div class='col-md-3'>
    				<h3>6</h3>
    				<p>Team</p>
    			</div>
    			<div class='col-md-3'>
    				<h3>34</h3>
    				<p>Project</p>
    			</div>
    		</div>
    	</div>
    </div>
    <div class='main4 floor'>
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	                <h2 class="about-h2">Our Partners</h2>
	                <p class="about-line"></p>
	                <p class="about-p">	               
						Mida sit una namet, cons uectetur adipiscing adon elit.
	                </p>
	            </div>
        	</div>
        	<div class='row '>
        		<div class="col-md-12 box">
        			<ul class='picList'>
        				<li><img src='images/demo/partners-1.png'></li>
        				<li><img src='images/demo/partners-2.png'></li>
        				<li><img src='images/demo/partners-3.png'></li>
        				<li><img src='images/demo/partners-4.png'></li>
        				<li><img src='images/demo/partners-5.png'></li>
        				<li><img src='images/demo/partners-6.png'></li>
        				<li><img src='images/demo/partners-7.png'></li>
        				<li><img src='images/demo/partners-8.png'></li>
        			</ul>
        		</div>
        	</div>
        </div>
    </div>
    <div class='main5 floor"' >
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	            	<div>
		                <h2 class="about-h2">Our Team</h2>
		                <p class="about-line"></p>
		                <p class="about-p">
		                    A creative agency based on Candy Land, ready to boost your business with some beautifull templates.
		                    MOOZ Agency is one of the best in town see more you will be amazed.
		                </p>
		            </div>    
	            </div>
        	</div>
        	<div class='row'>
        		<div class="col-md-4">
        			<div class='tuwen'>
        				<img src='images/demo/author-2.jpg' class="img-responsive">
	        			<h3>TOM BEKERS</h3>
						<p class='p1'>CEO & Web Design</p>
						<p>Mida sit una namet, cons uectetur adipiscing adon elit. Aliquam vitae barasa droma.</p>
        			</div>
        			
        		</div>
        		<div class="col-md-4">
        			<div class='tuwen'>
        				<img src='images/demo/author-4.jpg' class="img-responsive">
	        			<h3>LINA GOSATA</h3>
						<p class='p1'>Photography</p>
						<p>Worsa dona namet, cons uectetur dipiscing adon elit. Aliquam vitae fringilla unda mir.</p>
        			</div>
        			
        		</div>
        		<div class="col-md-4">
        			<div class='tuwen'>
	        			<img src='images/demo/author-6.jpg' class="img-responsive">
	        			<h3>John BEKERS</h3>
						<p class='p1'>Marketing</p>
						<p>Dolor sit don namet, cons uectetur beriscing adon elit. Aliquam vitae fringilla unda.</p>
					</div>
        		</div>
        	</div>
        </div>
    </div>
    <div class='main6 floor' >
		<div class='container'>
			<div class="row">
	            <div class="col-md-12">
	            	<div>
		                <h2 class="about-h2">Contact Us</h2>
		                <p class="about-line"></p>
		                <p class="about-p">
		                    If you have some Questions or need Help! Please Contact Us!<br>We make Cool and Clean Design for your Business
		                </p>
		            </div>    
	            </div>
        	</div>
        	<div class='row'>
        		<div class='col-md-3'>
        			<h4>Our Business Office</h4>
					<p>3422 Street, Barcelona 432, Spain, New Building North, 15th Floor</p>
					<p> +101 377 655 22125</p>
					<p> mail@yourcompany.com</p>
        		</div>
        		<div class='col-md-3'>
        			<h4>Business Hours</h4>
					<p><span class="day">Weekdays:</span><span>9am to 8pm</span></p>
					<p><<span class="day">Saturday:</span><span>9am to 2pm</span></p>
					<p><span class="day">Sunday:</span><span>Closed</span></p>
        		</div>
        		<div class='col-md-6'>
        			<div class='row inputBox'>
        				<div class='col-md-6'>      		
    						<input type="name" class="form-control" id="exampleInputNamel3" placeholder="Your Name*">
        				</div>
        				<div class='col-md-6'>
        					<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your Email*">
        				</div>
        			</div>
        			<div class='row'>
        				<div class='col-md-12'>
        					<textarea class="form-control" rows="3" placeholder="Your Message*"></textarea>
        				</div>
        				
        			</div>
        			<div class='row '>
        				<div class='col-md-12'>
        					<a href="#"><button type="submit" class="btn btn-default btn-warning">Send Message</button></a>
        				</div>
        				
        			</div>
        			
        		</div>
        	</div>
    	</div>
    </div>
</body>
</html>
